h1 {
font-family: charmonman;
font-color:#1a1a1a
  font-size:"300";
}

h2 {
  font-size:"220";
}

table, td {
  border: "3" solid black;
  border-collpase:collapse;
}
td{
  
  padding: "15";
}
 table {
   float: right;
}
