h1 {
font-color:#1a1a1a
  font-size:"300";
}

h2 {
  font-size:"220";
}

figure {
  float: center;
  width: "600";
    text-align: center;
  border: thin #000000 solid;
  border-top: none;
}

figcaption{
  border: thin #000000 solid;
  border-bottom: none;
}
